body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
}

#header h1{
  text-align: center;
  font-size: 70px;
}

#all_posts {
  text-align: center;
}

#post {
  background-color: #EBEBFF;
}

#create_posts {
  text-align: center;

}

#create_post_form {
  border: 1px solid black;
  width: 500px;
  margin: auto;
}