body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
}

#header h1{
  text-align: center;
  font-size: 70px;
}

#all_posts {
  text-align: center;
}

#post {
  background-color: #FEF6F3;
}

#create_posts {
  text-align: center;

}

#create_post_form {
  margin: auto;
}

.input_form {
  width: 500px;
  border: 2px solid #F15A24;
  background-color: #FEF6F3;
  font-size: 20px;
  border-radius: 0px;
}

.input_form:focus {
  background-color: #fff;
}

.input_form #title{
  height: 25px;
}

.input_form #body{
  height: 250px;
}

.input_form #signature{
  height: 25px;
}

.submit_button  {
  border: none;
  background-color: #F15A24;
  color: #fff;
  cursor: pointer;
}

.submit_button:hover  {
  background-color: #F47B50;
}

#submit_new_post {
  margin-top: 20px;
  width: 200px;
  height: 25px;
}