<div id="create_notes">
  <form id="create_note_form" action="/notes" method="post"> 
    <p><input class="input_form" id="title" type="text" name="title" placeholder="title..."></p> 

    <p><textarea class="input_form" id="input_form body" rows="10" cols="30" name="body" placeholder="message to share..."></textarea></p> 
    <p><input class="input_form" id="input_form signature" type="text" name="signature" placeholder="sign your name..."></p>
    <input class="submit_button" id="submit_new_note" type="submit">  
  </form> 
</div>