<div id="create_posts">
  <form action="/posts" method="post"> 
    <ul><p>Title: <input type="text" name="title"></p> 
        <p>Body: <textarea rows="10" cols="30" name="body"></textarea></p> 
        <p>Signature: <input type="text" name="signature"></p>
      </ul>
    <input type="submit">  
  </form> 
</div>