
  <form action="/posts/<%= @post.id %>" method="post" id="edit">  
    <input type="hidden" name="_method" value="put">
    <textarea name="title"><%= @post.title %></textarea>  
    <input type="submit">  
  </form>  

