  <!doctype html>  
  <html lang="en">  
  <head>  
    <meta charset="utf8">  
    <title>Thorntree</title>  
    <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Hanalei' rel='stylesheet' type='text/css'>
    <link href="/style.css" rel="stylesheet">  
  </head>  
  <body>  
    <div id="header"> 
      <h1><a href="/notes">Thorntree</a></h1>  
    </div> 

    <div id="main">  
      <%= yield %>  
    </div>  

  </body>  
  </html> 