<div id="all_notes">
  <% @notes.each do |note| %>
  <div id="single_note">
    <a href="/notes/<%= note.id %>">
      <h3><%= note.body %></h3>
      <p>holes: <%= note.holes %></p>
      <p>integrity: <%= note.integrity %></p>
    </a>
  </div>
  <% end %>
</div>
