<div id="all_posts">
  <div id="single_post">
    <a href="/posts/<%= @post.id %>">
      <h1><%= @post.title %></h1>
      <p><%= @post.body %></p>
      <p>-<%= @post.signature %></p>
    </a>
  </div>
</div>
