<div id="all_notes">
  <div id="single_note">
    <a href="/notes/<%= @note.id %>">
      <h1><%= @note.title %></h1>
      <p><%= @note.body %></p>
      <p>-<%= @note.signature %></p>
    </a>
  </div>
</div>
